# Ignore system files
.DS_Store
.CFUserTextEncoding

# Ignore configuration files
.bash_history
.bash_profile
.profile
.gitconfig
.gitkraken/
.node-gyp/
.npm/
.nvm/
.ssh/

# Ignore all hidden folders
.*/

# Ignore other specific files or directories
/Applications/
/Documents/
/Downloads/
/Library/
